<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">Gestion des Profil</div>
        <div class="panel-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <fieldset>
              <div class="form-group">
                <input [formControl]="fname" class="form-control" placeholder="Code" type="text" autofocus="" required>
              </div>
              <div class="form-group">
                <input [formControl]="lname" class="form-control" placeholder="Libelle" type="text" autofocus="" required>
              </div>
              <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Enregistrer</button>
              <button [disabled]="!form.valid" type="reset" class="btn btn-dark">Annuler</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->
