<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Insertion</div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <fieldset>
            <div class="form-group">
              <input [formControl]="fname" class="form-control" placeholder="Nome" type="text" autofocus="" required>
            </div>
            <div class="form-group">
              <input [formControl]="lname" class="form-control" placeholder="Prenom" type="text" autofocus="" required>
            </div>
            <div class="form-group">
              <input [formControl]="matricule" class="form-control" placeholder="Matricule" type="text" autofocus="">
            </div>
            <div class="form-group">
              <input [formControl]="email" class="form-control" placeholder="E-mail" type="email" autofocus="">
            </div>
            <div class="form-group">
              <input [formControl]="phone" class="form-control" placeholder="Telephone" type="text" autofocus="">
            </div>
            <div class="form-group">
              <input [formControl]="password" class="form-control" placeholder="Password" type="password" value="">
            </div>
            <div class="form-group">
              <input [formControl]="cpassword" class="form-control" placeholder="Confirm Password" type="password" value="">
            </div>
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Enregister</button>
            <button [disabled]="!form.valid" type="reset" class="btn btn-warning">Annuler</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div><!-- /.col-->
</div>
<!-- /table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Matricule</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telephone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Aresmouk</td>
      <td>Fati</td>
      <td>eeg25</td>
      <td>@mdo</td>
      <td>060606066</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chehbi</td>
      <td>Salah Eddine</td>
      <td>eeg25</td>
      <td>@mdo</td>
      <td>07070707</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Oufkir</td>
      <td>Elhoucein</td>
      <td>@ouf</td>
    </tr>
  </tbody>
</table>
